$navbar-bg: #2A2F45;
$home-bg: #161B30;
$weather-bg: radial-gradient(80.36% 80.36% at 50% 0%, #5A607C 0%, #161B30 100%);
$weather-bg-phone: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);
$gradient-degrees-bg: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
$input-bg: #2A2F45;
$autocomplete-bg: #30354B;

$blue: #8A91AB;
$white: #fff;

$size-main: 16px;
$size-main-phone: 14px;
$size-title-phone: 24px;
$size-title: 56px;
$size-title-degrees: 130px;
$size-title-degrees-phone: 120px;

$regular: 400;
$medium: 500;
$semibold: 600;

$font-body: "SF Pro Display";